USE [master]
GO
/****** Object:  Database [RESTAURANTE]    Script Date: 12/03/2025 13:48:04 ******/
CREATE DATABASE [RESTAURANTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTAURANTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTAURANTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESTAURANTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTAURANTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTAURANTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTAURANTE]
GO
/****** Object:  UserDefinedTableType [dbo].[DetallePedidoType]    Script Date: 12/03/2025 13:48:04 ******/
CREATE TYPE [dbo].[DetallePedidoType] AS TABLE(
	[ID_PLATO] [int] NULL,
	[CANTIDAD] [int] NULL
)
GO
/****** Object:  Table [dbo].[CARTA]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTA](
	[ID_PLATO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
	[TIPO_PLATO] [nvarchar](20) NOT NULL,
	[IMAGEN] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Carta]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Carta] AS
SELECT ID_PLATO, NOMBRE, DESCRIPCION, PRECIO, TIPO_PLATO, IMAGEN
FROM CARTA;

GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[TELEFONO] [nvarchar](15) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DIRECCION] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[ID_RESERVA] [int] IDENTITY(1,1) NOT NULL,
	[TELEFONO] [nvarchar](15) NOT NULL,
	[FECHA_RESERVA] [date] NOT NULL,
	[HORA_RESERVA] [time](7) NOT NULL,
	[ESTADO] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ReservasPendientes]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReservasPendientes] AS
SELECT R.ID_RESERVA, C.NOMBRE, R.FECHA_RESERVA, R.HORA_RESERVA, R.ESTADO
FROM RESERVAS R
JOIN CLIENTES C ON R.TELEFONO = C.TELEFONO
WHERE R.ESTADO = 'PENDIENTE';

GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[TELEFONO] [nvarchar](15) NOT NULL,
	[TIPO_PEDIDO] [nvarchar](20) NOT NULL,
	[ESTADO] [nvarchar](20) NOT NULL,
	[FECHA_PEDIDO] [date] NULL,
	[HORA_PEDIDO] [time](7) NOT NULL,
	[PRECIO_TOTAL] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PedidosActivos]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PedidosActivos] AS
SELECT 
    P.ID_PEDIDO,
    C.NOMBRE, -- Obtenemos el nombre del cliente desde la tabla CLIENTES
    P.TELEFONO,
    P.TIPO_PEDIDO,
    P.ESTADO,
    P.FECHA_PEDIDO,
    P.HORA_PEDIDO,
    P.PRECIO_TOTAL
FROM PEDIDOS P
LEFT JOIN CLIENTES C ON P.TELEFONO = C.TELEFONO -- Relación entre PEDIDOS y CLIENTES
WHERE P.ESTADO IN ('PENDIENTE', 'ENTREGADO', 'CANCELADO', 'EN CAMINO');

GO
/****** Object:  Table [dbo].[VALORACIONES]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORACIONES](
	[ID_VALORACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_PLATO] [int] NOT NULL,
	[TELEFONO] [nvarchar](15) NOT NULL,
	[VALORACION] [int] NOT NULL,
	[COMENTARIO] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VALORACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Valoraciones]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Valoraciones] AS
SELECT V.ID_VALORACION, C.NOMBRE AS CLIENTE, CA.NOMBRE AS PLATO, V.VALORACION, V.COMENTARIO
FROM VALORACIONES V
JOIN CLIENTES C ON V.TELEFONO = C.TELEFONO
JOIN CARTA CA ON V.ID_PLATO = CA.ID_PLATO;

GO
/****** Object:  Table [dbo].[DETALLE_PEDIDOS]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDOS](
	[ID_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PLATO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO_UNITARIO] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DetallesPedidos]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DetallesPedidos] AS
SELECT P.ID_PEDIDO, C.NOMBRE AS CLIENTE, P.TIPO_PEDIDO, P.ESTADO, CA.NOMBRE AS PLATO, DP.CANTIDAD, P.PRECIO_TOTAL
FROM DETALLE_PEDIDOS DP
JOIN PEDIDOS P ON DP.ID_PEDIDO = P.ID_PEDIDO
JOIN CLIENTES C ON P.TELEFONO = C.TELEFONO
JOIN CARTA CA ON DP.ID_PLATO = CA.ID_PLATO;

GO
/****** Object:  Table [dbo].[DESTACADOS]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTACADOS](
	[ID] [int] NOT NULL,
	[TITULO] [nvarchar](255) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[IMAGEN] [nvarchar](255) NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FINAL] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ADMIN_DESTACADOS]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ADMIN_DESTACADOS] AS
SELECT 
    ID,
    TITULO,
    DESCRIPCION,
    IMAGEN,
    CONVERT(VARCHAR, FECHA_INICIO, 103) AS FECHA_INICIO,
    CONVERT(VARCHAR, FECHA_FINAL, 103) AS FECHA_FINAL
FROM DESTACADOS;

GO
/****** Object:  View [dbo].[VW_DESTACADOS_ACTUALES]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_DESTACADOS_ACTUALES] AS
SELECT 
    ID,
    TITULO,
    DESCRIPCION,
    IMAGEN
FROM DESTACADOS
WHERE GETDATE() BETWEEN FECHA_INICIO AND FECHA_FINAL;

GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID_ADMIN] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [nvarchar](100) NOT NULL,
	[CONTRASENA] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 12/03/2025 13:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID_MENU] [uniqueidentifier] NOT NULL,
	[NOMBRE] [nvarchar](255) NOT NULL,
	[ARCHIVO_PDF] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMINISTRADOR] ON 

INSERT [dbo].[ADMINISTRADOR] ([ID_ADMIN], [USUARIO], [CONTRASENA]) VALUES (1, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[ADMINISTRADOR] OFF
GO
SET IDENTITY_INSERT [dbo].[CARTA] ON 

INSERT [dbo].[CARTA] ([ID_PLATO], [NOMBRE], [DESCRIPCION], [PRECIO], [TIPO_PLATO], [IMAGEN]) VALUES (1, N'Sopa de Verduras', N'Sopa caliente con variedad de verduras', CAST(5.50 AS Decimal(10, 2)), N'PRIMERO', N'sopa_verduras.jpg')
INSERT [dbo].[CARTA] ([ID_PLATO], [NOMBRE], [DESCRIPCION], [PRECIO], [TIPO_PLATO], [IMAGEN]) VALUES (2, N'Ensalada Mixta', N'Lechuga, tomate, cebolla y atún', CAST(6.00 AS Decimal(10, 2)), N'PRIMERO', N'ensalada_mixta.jpg')
INSERT [dbo].[CARTA] ([ID_PLATO], [NOMBRE], [DESCRIPCION], [PRECIO], [TIPO_PLATO], [IMAGEN]) VALUES (3, N'Gazpacho Andaluz', N'Sopa fría de tomate y pimientos', CAST(4.50 AS Decimal(10, 2)), N'PRIMERO', N'gazpacho.jpg')
SET IDENTITY_INSERT [dbo].[CARTA] OFF
GO
INSERT [dbo].[CLIENTES] ([TELEFONO], [NOMBRE], [DIRECCION]) VALUES (N'11113333', N'Maki', N'Casa Maki')
INSERT [dbo].[CLIENTES] ([TELEFONO], [NOMBRE], [DIRECCION]) VALUES (N'1231', N'Pedro', N'Barcelona')
INSERT [dbo].[CLIENTES] ([TELEFONO], [NOMBRE], [DIRECCION]) VALUES (N'123123123', N'alumnoporfi', NULL)
GO
INSERT [dbo].[DESTACADOS] ([ID], [TITULO], [DESCRIPCION], [IMAGEN], [FECHA_INICIO], [FECHA_FINAL]) VALUES (1, N'Oferta Especial', N'Descuento del 50% en tu segunda hamburguesa', N'destacados1.jpg', CAST(N'2025-03-05' AS Date), CAST(N'2026-03-05' AS Date))
INSERT [dbo].[DESTACADOS] ([ID], [TITULO], [DESCRIPCION], [IMAGEN], [FECHA_INICIO], [FECHA_FINAL]) VALUES (2, N'Nuevo Menú', N'Descubre nuestras nuevas recetas gourmet', N'destacados2.jpg', CAST(N'2025-03-05' AS Date), CAST(N'2026-03-05' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DETALLE_PEDIDOS] ON 

INSERT [dbo].[DETALLE_PEDIDOS] ([ID_DETALLE], [ID_PEDIDO], [ID_PLATO], [CANTIDAD], [PRECIO_UNITARIO]) VALUES (1, 1, 1, 2, CAST(5.50 AS Decimal(10, 2)))
INSERT [dbo].[DETALLE_PEDIDOS] ([ID_DETALLE], [ID_PEDIDO], [ID_PLATO], [CANTIDAD], [PRECIO_UNITARIO]) VALUES (2, 1002, 12, 2, CAST(2.00 AS Decimal(10, 2)))
INSERT [dbo].[DETALLE_PEDIDOS] ([ID_DETALLE], [ID_PEDIDO], [ID_PLATO], [CANTIDAD], [PRECIO_UNITARIO]) VALUES (3, 1002, 11, 1, CAST(1.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DETALLE_PEDIDOS] OFF
GO
INSERT [dbo].[MENU] ([ID_MENU], [NOMBRE], [ARCHIVO_PDF]) VALUES (N'51792fa0-e46a-4a8f-b14e-7ae5410be233', N'Menú Semana 1', N'menu_semana1.pdf')
INSERT [dbo].[MENU] ([ID_MENU], [NOMBRE], [ARCHIVO_PDF]) VALUES (N'6ce8d936-969e-483f-b713-9f8e0f3ff543', N'Menú Semana 2', N'menu_semana2.pdf')
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] ON 

INSERT [dbo].[PEDIDOS] ([ID_PEDIDO], [TELEFONO], [TIPO_PEDIDO], [ESTADO], [FECHA_PEDIDO], [HORA_PEDIDO], [PRECIO_TOTAL]) VALUES (1, N'612345678', N'RECOGER', N'ENTREGADO', CAST(N'2025-02-14' AS Date), CAST(N'12:30:00' AS Time), CAST(27.56 AS Decimal(10, 2)))
INSERT [dbo].[PEDIDOS] ([ID_PEDIDO], [TELEFONO], [TIPO_PEDIDO], [ESTADO], [FECHA_PEDIDO], [HORA_PEDIDO], [PRECIO_TOTAL]) VALUES (2, N'634567890', N'DOMICILIO', N'CANCELADO', CAST(N'2025-01-14' AS Date), CAST(N'22:15:00' AS Time), CAST(30.50 AS Decimal(10, 2)))
INSERT [dbo].[PEDIDOS] ([ID_PEDIDO], [TELEFONO], [TIPO_PEDIDO], [ESTADO], [FECHA_PEDIDO], [HORA_PEDIDO], [PRECIO_TOTAL]) VALUES (1002, N'695478224', N'RECOGER', N'ENTREGADO', CAST(N'2025-03-06' AS Date), CAST(N'14:04:30.8566667' AS Time), CAST(5.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PEDIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[RESERVAS] ON 

INSERT [dbo].[RESERVAS] ([ID_RESERVA], [TELEFONO], [FECHA_RESERVA], [HORA_RESERVA], [ESTADO]) VALUES (1, N'612345678', CAST(N'2025-02-15' AS Date), CAST(N'20:00:00' AS Time), N'PENDIENTE')
SET IDENTITY_INSERT [dbo].[RESERVAS] OFF
GO
SET IDENTITY_INSERT [dbo].[VALORACIONES] ON 

INSERT [dbo].[VALORACIONES] ([ID_VALORACION], [ID_PLATO], [TELEFONO], [VALORACION], [COMENTARIO]) VALUES (1, 1, N'612345678', 5, N'Muy buena calidad y sabor.')
INSERT [dbo].[VALORACIONES] ([ID_VALORACION], [ID_PLATO], [TELEFONO], [VALORACION], [COMENTARIO]) VALUES (2, 2, N'623456789', 4, N'Buen plato, pero podría mejorar la presentación.')
INSERT [dbo].[VALORACIONES] ([ID_VALORACION], [ID_PLATO], [TELEFONO], [VALORACION], [COMENTARIO]) VALUES (1002, 11, N'695478224', 1, N'no me gustó')
SET IDENTITY_INSERT [dbo].[VALORACIONES] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ADMINIST__E251F4847E6BE80F]    Script Date: 12/03/2025 13:48:05 ******/
ALTER TABLE [dbo].[ADMINISTRADOR] ADD UNIQUE NONCLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT (getdate()) FOR [FECHA_PEDIDO]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD FOREIGN KEY([ID_PLATO])
REFERENCES [dbo].[CARTA] ([ID_PLATO])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDOS__TELEFON__17AD7836] FOREIGN KEY([TELEFONO])
REFERENCES [dbo].[CLIENTES] ([TELEFONO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK__PEDIDOS__TELEFON__17AD7836]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD FOREIGN KEY([TELEFONO])
REFERENCES [dbo].[CLIENTES] ([TELEFONO])
GO
ALTER TABLE [dbo].[VALORACIONES]  WITH CHECK ADD FOREIGN KEY([ID_PLATO])
REFERENCES [dbo].[CARTA] ([ID_PLATO])
GO
ALTER TABLE [dbo].[VALORACIONES]  WITH CHECK ADD FOREIGN KEY([TELEFONO])
REFERENCES [dbo].[CLIENTES] ([TELEFONO])
GO
ALTER TABLE [dbo].[CARTA]  WITH CHECK ADD CHECK  (([TIPO_PLATO]='MERIENDA' OR [TIPO_PLATO]='DESAYUNO' OR [TIPO_PLATO]='POSTRE' OR [TIPO_PLATO]='SEGUNDO' OR [TIPO_PLATO]='PRIMERO'))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD CHECK  (([CANTIDAD]>(0)))
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [CK_ESTADO] CHECK  (([ESTADO]='ENTREGADO' OR [ESTADO]='CANCELADO' OR [ESTADO]='EN CAMINO' OR [ESTADO]='CONFIRMADO' OR [ESTADO]='PENDIENTE'))
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [CK_ESTADO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [CK_PEDIDOS_ESTADO] CHECK  (([ESTADO]='ENTREGADO' OR [ESTADO]='COMPLETADO' OR [ESTADO]='CANCELADO' OR [ESTADO]='EN CAMINO' OR [ESTADO]='CONFIRMADO' OR [ESTADO]='PENDIENTE'))
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [CK_PEDIDOS_ESTADO]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD CHECK  (([ESTADO]='CANCELADA' OR [ESTADO]='CONFIRMADA' OR [ESTADO]='PENDIENTE'))
GO
ALTER TABLE [dbo].[VALORACIONES]  WITH CHECK ADD CHECK  (([VALORACION]>=(1) AND [VALORACION]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_DESTACADO]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_DESTACADO]
    @ID INT,
    @TITULO NVARCHAR(255),
    @DESCRIPCION NVARCHAR(500),
    @IMAGEN NVARCHAR(255),
    @FECHA_INICIO DATETIME,
    @FECHA_FINAL DATETIME
AS
BEGIN
    UPDATE DESTACADOS
    SET TITULO = @TITULO,
        DESCRIPCION = @DESCRIPCION,
        IMAGEN = @IMAGEN,
        FECHA_INICIO = @FECHA_INICIO,
        FECHA_FINAL = @FECHA_FINAL
    WHERE ID = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstadoPedido]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstadoPedido]
    @IDPedido INT,
    @NuevoEstado NVARCHAR(20)
AS
BEGIN
    -- Verifica si el pedido existe
    IF NOT EXISTS (SELECT 1 FROM PEDIDOS WHERE ID_PEDIDO = @IDPedido)
    BEGIN
        RAISERROR ('El ID del pedido no existe.', 16, 1);
        RETURN;
    END

    -- Actualiza el estado
    UPDATE PEDIDOS
    SET ESTADO = @NuevoEstado
    WHERE ID_PEDIDO = @IDPedido;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_DESTACADO]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_DESTACADO]
    @ID INT
AS
BEGIN
    DELETE FROM DESTACADOS WHERE ID = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DESTACADO]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DESTACADO]
    @TITULO NVARCHAR(255),
    @DESCRIPCION NVARCHAR(500),
    @IMAGEN NVARCHAR(255),
    @FECHA_INICIO DATETIME,
    @FECHA_FINAL DATETIME
AS
BEGIN
    INSERT INTO DESTACADOS (TITULO, DESCRIPCION, IMAGEN, FECHA_INICIO, FECHA_FINAL)
    VALUES (@TITULO, @DESCRIPCION, @IMAGEN, @FECHA_INICIO, @FECHA_FINAL);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDetallePedido]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarDetallePedido]
    @IDPedido INT,
    @IDPlato INT,
    @Cantidad INT
AS
BEGIN
    -- Verifica si el pedido existe
    IF NOT EXISTS (SELECT 1 FROM PEDIDOS WHERE ID_PEDIDO = @IDPedido)
    BEGIN
        RAISERROR ('El ID del pedido no existe.', 16, 1);
        RETURN;
    END

    -- Verifica si el plato existe
    IF NOT EXISTS (SELECT 1 FROM CARTA WHERE ID_PLATO = @IDPlato)
    BEGIN
        RAISERROR ('El ID del plato no existe.', 16, 1);
        RETURN;
    END

    -- Inserta el detalle del pedido
    INSERT INTO DETALLE_PEDIDOS (ID_PEDIDO, ID_PLATO, CANTIDAD)
    VALUES (@IDPedido, @IDPlato, @Cantidad);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPedido]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarPedido]
    @Telefono VARCHAR(20),
    @Nombre NVARCHAR(100),
    @Direccion NVARCHAR(255),
    @TipoPedido NVARCHAR(50),
    @DetallesPedido dbo.DetallePedidoType READONLY,
    @IdPedido INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ClienteExiste INT;

    -- Verificar si el cliente ya existe
    SELECT @ClienteExiste = COUNT(*) FROM CLIENTES WHERE TELEFONO = @Telefono;

    -- Insertar el cliente si no existe
    IF @ClienteExiste = 0
    BEGIN
        INSERT INTO CLIENTES (TELEFONO, NOMBRE, DIRECCION)
        VALUES (@Telefono, @Nombre, @Direccion);
    END
    ELSE
    BEGIN
        IF @TipoPedido = 'DOMICILIO'
        BEGIN
            UPDATE CLIENTES
            SET DIRECCION = @Direccion
            WHERE TELEFONO = @Telefono;
        END
    END

    -- Insertar el pedido
    INSERT INTO PEDIDOS (TELEFONO, TIPO_PEDIDO, ESTADO, FECHA_PEDIDO, HORA_PEDIDO, PRECIO_TOTAL)
    VALUES (@Telefono, @TipoPedido, 'Pendiente', GETDATE(), CONVERT(TIME, GETDATE()), 
            (SELECT SUM(d.CANTIDAD * c.PRECIO) 
             FROM @DetallesPedido d 
             JOIN CARTA c ON d.ID_PLATO = c.ID_PLATO));

    -- Obtener el ID del pedido recién creado
    SET @IdPedido = SCOPE_IDENTITY();

    -- Insertar detalles del pedido con precio unitario desde la tabla CARTA
    INSERT INTO DETALLE_PEDIDOS (ID_PEDIDO, ID_PLATO, CANTIDAD, PRECIO_UNITARIO)
    SELECT @IdPedido, ID_PLATO, CANTIDAD, 
           (SELECT PRECIO FROM CARTA WHERE ID_PLATO = d.ID_PLATO)
    FROM @DetallesPedido d;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarReserva]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarReserva]
    @Telefono NVARCHAR(15),
    @FechaReserva DATE,
    @HoraReserva TIME
AS
BEGIN
    -- Verifica si el cliente existe
    IF NOT EXISTS (SELECT 1 FROM CLIENTES WHERE TELEFONO = @Telefono)
    BEGIN
        RAISERROR ('El número de teléfono no está registrado como cliente.', 16, 1);
        RETURN;
    END

    -- Inserta la reserva
    INSERT INTO RESERVAS (TELEFONO, FECHA_RESERVA, HORA_RESERVA, ESTADO)
    VALUES (@Telefono, @FechaReserva, @HoraReserva, 'PENDIENTE');
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarValoracion]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarValoracion]
    @IDPlato INT,
    @Telefono NVARCHAR(15),
    @Valoracion INT,
    @Comentario NVARCHAR(255) = NULL
AS
BEGIN
    -- Verifica si el cliente existe
    IF NOT EXISTS (SELECT 1 FROM CLIENTES WHERE TELEFONO = @Telefono)
    BEGIN
        RAISERROR ('El número de teléfono no está registrado como cliente.', 16, 1);
        RETURN;
    END

    -- Verifica si el plato existe
    IF NOT EXISTS (SELECT 1 FROM CARTA WHERE ID_PLATO = @IDPlato)
    BEGIN
        RAISERROR ('El ID del plato no existe.', 16, 1);
        RETURN;
    END

    -- Inserta la valoración
    INSERT INTO VALORACIONES (ID_PLATO, TELEFONO, VALORACION, COMENTARIO)
    VALUES (@IDPlato, @Telefono, @Valoracion, @Comentario);
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DESTACADOS]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_DESTACADOS]
AS
BEGIN
    SELECT ID, TITULO, DESCRIPCION, IMAGEN, FECHA_INICIO, FECHA_FINAL 
    FROM DESTACADOS
    ORDER BY FECHA_INICIO DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCartaPorTipo]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCartaPorTipo]
    @TipoPlato NVARCHAR(20)
AS
BEGIN
    SELECT ID_PLATO, NOMBRE, DESCRIPCION, PRECIO, IMAGEN
    FROM CARTA
    WHERE TIPO_PLATO = @TipoPlato
    ORDER BY NOMBRE;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LoginAdministrador]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginAdministrador]
    @Usuario NVARCHAR(100),
    @Contraseña NVARCHAR(255)
AS
BEGIN
    -- Verifica si el usuario y contraseña coinciden
    IF EXISTS (SELECT 1 FROM ADMINISTRADOR WHERE USUARIO = @Usuario AND CONTRASEÑA = @Contraseña)
    BEGIN
        SELECT 'Login exitoso' AS Mensaje;
    END
    ELSE
    BEGIN
        RAISERROR ('Usuario o contraseña incorrectos.', 16, 1);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RealizarPedido]    Script Date: 12/03/2025 13:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RealizarPedido]
    @Telefono NVARCHAR(15),
    @Nombre NVARCHAR(100),
    @Direccion NVARCHAR(255),
    @TipoPedido NVARCHAR(20),
    @DetallesPedido dbo.DetallePedidoType READONLY,
    @IdPedido INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ClienteExiste INT;

    -- 1️⃣ Verificar si el cliente ya existe
    SELECT @ClienteExiste = COUNT(*) FROM CLIENTES WHERE TELEFONO = @Telefono;

    -- 2️⃣ Insertar el cliente si no existe
    IF @ClienteExiste = 0
    BEGIN
        INSERT INTO CLIENTES (TELEFONO, NOMBRE, DIRECCION)
        VALUES (@Telefono, @Nombre, @Direccion);
    END
    ELSE
    BEGIN
        -- Si es un pedido a domicilio, actualizamos la dirección del cliente
        IF @TipoPedido = 'DOMICILIO'
        BEGIN
            UPDATE CLIENTES
            SET DIRECCION = @Direccion
            WHERE TELEFONO = @Telefono;
        END
    END

    -- 3️⃣ Crear el pedido en la tabla PEDIDOS
    INSERT INTO PEDIDOS (TELEFONO, TIPO_PEDIDO, ESTADO, FECHA_PEDIDO, HORA_PEDIDO, PRECIO_TOTAL)
    VALUES (@Telefono, @TipoPedido, 'PENDIENTE', GETDATE(), CONVERT(TIME, GETDATE()), 
            (SELECT SUM(d.CANTIDAD * c.PRECIO) 
             FROM @DetallesPedido d 
             JOIN CARTA c ON d.ID_PLATO = c.ID_PLATO));

    -- Obtener el ID del pedido recién creado
    SET @IdPedido = SCOPE_IDENTITY();

    -- 4️⃣ Insertar detalles del pedido en DETALLE_PEDIDOS
    INSERT INTO DETALLE_PEDIDOS (ID_PEDIDO, ID_PLATO, CANTIDAD, PRECIO_UNITARIO)
    SELECT @IdPedido, ID_PLATO, CANTIDAD, 
           (SELECT PRECIO FROM CARTA WHERE ID_PLATO = d.ID_PLATO)
    FROM @DetallesPedido d;

    -- 5️⃣ Confirmar la transacción
    PRINT 'Pedido realizado con éxito';
END;

GO
USE [master]
GO
